{% extends 'base.html' %}

{% block title %}
    {{ block.super }} | Login
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4 col-centered text-center">
            {% if error %}
                {{ error }}
            {% endif %}

             <form action="{% url 'accounts:login' %}" method="post" role="form">
                {% csrf_token %}

                <div class="form-group">
                    <label>Username</label>
                    <input type="text" name="username" placeholder="Username" required class="form-control">
                </div>

                <div class="form-group">
                    <label>Password</label>
                    <input type="password" name="password" placeholder="Password" required class="form-control">
                </div>

                <input type="hidden" name="next" value="{{ next }}"/>

                <div class="text-center">
                    <a href="{% url 'accounts:register' %}" class="btn dark">Register</a>
                    <button type="submit" class="btn btn-default">Login</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}