{% extends 'base.html' %}

{% block title %}
    {{ block.super }} | Register
{% endblock %}

{% block content %}
    <form action="{% url 'accounts:register' %}" method="post" class="col-md-4 col-centered text-center">
        {% csrf_token %}
        {{ form }}

        <br>
        <div class="text-center">
            <button type="submit" class="btn btn-default">Register</button>
        </div>
    </form>
{% endblock %}
