{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} RPS Game {% endblock %}</title>
    <script src="{% static 'js/lib/jquery.min.js' %}"></script>
    <script src="{% static 'js/lib/socket.js' %}"></script>
    <script src="{% static 'js/lib/timer.js' %}"></script>
    <script src="{% static 'js/lib/bootstrap.min.js' %}"></script>

    <link href="{% static 'css/libs/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <style type="text/css" rel="stylesheet">
        .col-centered{
            float: none;
            margin: 0 auto;
        }
    </style>
    {% block extra_styles %}
    {% endblock %}
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">
          RPSLS
        </a>
    </div>
      {% if request.user.is_authenticated %}
        <p class="navbar-text navbar-right" style="margin-right: 20px;">Signed in as {{ request.user.username }}</p>
      {% else %}
        <a href="{% url 'accounts:login' %}">Login</a>
      {% endif %}
  </div>
</nav>

{% block content %}

{% endblock %}

{% block extra_scripts %}
{% endblock %}
</body>
</html>