{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <div>
                <h4 class="text-center">Create a Game</h4>

                <p>
                    {% if error %}
                        {{ error }}
                    {% endif %}
                </p>

                <form method="post" class="form-horizontal">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="game-name" class="control-label col-sm-4">Name</label>
                        <div class="col-sm-6">
                            <input type="text" required name="name" id="game-name" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="game-duration" class="control-label col-sm-4">Duration in seconds</label>
                        <div class="col-sm-6">
                            <input type="number" name="duration" required value="5"
                               id="game-duration" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-10">
                            <button type="submit" id="create-game"
                                    class="btn btn-default text-center">Create
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-md-3">
            <div>
                <h4>List of games</h4>
                <ul class="list-group" id="games-list">

                </ul>
            </div>
        </div>

        <div class="col-md-3">
            <div>
                <h4>Users online</h4>
                <ul class="list-group" id="users-list">
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_scripts %}
    <script>
        getGames();
        getUsers();

        var socket = io.connect("/main");

        socket.on('games_update', getGames);

        $('#create-game').on('click', function (event) {
            event.preventDefault();
            var name = $('#game-name').val();
            var duration = $('#game-duration').val();
            var csrf_token = $("input[name='csrfmiddlewaretoken']").val();

            $.ajax({
                url: "/api/games/",
                method: "post",
                data: {
                    name: name,
                    user_one: {{ request.user.id }},
                    duration: duration,
                    status: 'waiting',
                    csrfmiddlewaretoken: csrf_token
                },
                success: function (game) {
                    $('#game-name').val('');
                    socket.emit('games_update');
                    window.location.replace("/games/" + game.pk);
                }
            });
        });

        (function pollUsers() {
            setTimeout(function () {
                $.ajax({
                    url: "/api/accounts/active/", success: function (users) {
                        attachUsers(users);
                    }, dataType: "json", complete: pollUsers
                });
            }, 20000);
        })();

        function confirmJoin(gameId) {
            var wantToJoin = confirm("Are you sure you want to join this game?");

            if (wantToJoin) {
                window.location.replace("/games/" + gameId);
            }
        }

        function getGames() {
            $.ajax({
                url: "/api/games/",
                success: function (games) {
                    var list = $('#games-list');
                    list.empty();
                    games.forEach(function (game) {
                        list.append('<li class="list-group-item" onclick=confirmJoin(' + game.pk + ')>' + game.name + ' <span class="label label-info">' + game.status + '</span></li>')
                    })
                }
            });
        }

        function getUsers() {
            $.ajax({
                url: "/api/accounts/active/", success: function (users) {
                    attachUsers(users);
                }, dataType: "json"
            });
        }

        function attachUsers(users) {
            var list = $('#users-list');
            list.empty();
            users.forEach(function (user) {
                list.append('<li class="list-group-item">' + user.username + ' <span class="label label-success">online</span></li>')
            })
        }
    </script>
{% endblock %}