{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-md-2" style="margin-left: 30px;">
            <div class="row">
                <div id="timer" style="font-size: 20px;">
                </div>
            </div>

            <div class="row">
                {% if request.user.id == game.user_one.id %}
                    <button id="start-button" disabled class="btn btn-success">Start</button>
                {% endif %}
            </div>
        </div>

        <div class="col-md-6">
            <div class="row">
                <div id="log"></div>
            </div>

            <div class="row">
                <form id="form-echo" action="" method="POST">
                    <input type="text" id="input-echo" class="form-control" placeholder="Enter message...">
                </form><br>
            </div>

            <div class="row">
                <div id="game-controls">
                    <button id="rock"><img src="{% static 'images/rock.jpg' %}" width="100" height="100"></button>
                    <button id="paper"><img src="{% static 'images/paper.jpg' %}" width="100" height="100"></button>
                    <button id="scissors"><img src="{% static 'images/scissors.jpg' %}" width="100" height="100"></button>
                    <button id="lizard"><img src="{% static 'images/lizard.jpg' %}" width="100" height="100"></button>
                    <button id="spock"><img src="{% static 'images/spock.jpg' %}" width="100" height="100"></button>
                    <br><br>
                    <button id="hint-button" class="btn btn-danger">Give me a hint!</button>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div id="results">
             Rounds:   <span id="round">1</span>/3
                <br>
            <span id="first_user"></span>     vs     <span id="second_user"></span>
                <br>
             Results:  <span id="first_result">0</span>:<span id="second_result">0</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div id="history_container" class="col-md-4 col-sm-offset-2">
            <button id="show-history" class="btn btn-warning">History of moves</button>

            <ul id="history"></ul>
        </div>
    </div>
{% endblock %}


{% block extra_scripts %}

    <script>
        var socket = io.connect("/game"),
            $log = $("#log"),
            $input = $("#input-echo"),
            $gameControls = $('#game-controls'),
            $results = $('#results'),
            $round = $('#round'),
            $first_result = $('#first_result'),
            $second_result = $('#second_result'),
            $history_container = $('#history_container'),
            $timer = $('#timer');

        $gameControls.hide();
        $results.hide();
        $history_container.hide();

        var round = 1;
        var first_result = 0;
        var second_result = 0;
        var gameOver = false;

        socket.on('connect', function() {
            socket.emit("join", {{ game.pk }});
        });

        socket.on('disconnect', function () {
            socket.emit('disconnect', {{ game.pk }});
            $log.append($("<p>You lose!</p>"));
        });

        socket.on('auto_win', function (msg) {
            alert(msg);
            window.location.replace("/");
        });

        socket.on('msg', function (msg) {
            $log.append($("<p>" + msg + "</p>"));
        });

        socket.on('round_end', endRound);

        socket.on('start', start);

        socket.on('auto_end', function (response) {
            $timer.timer('remove');
            endRound(response);
        });

        socket.on('second_joined', function (response) {
            $log.append($("<p>" + response.msg + "</p>"));
            $('#first_user').html(response.first_user);
            $('#second_user').html(response.second_user);
        });

        socket.on('ready', function (response) {
            alert(response.msg);
            $('#first_user').html(response.first_user);
            $('#second_user').html(response.second_user);

            $('#start-button').prop('disabled', false);
        });

        $('#disconnect-button').on('click', function () {
            if (!gameOver){
                socket.disconnect();
            }else{
                window.location.replace("/");
            }
        });

        $('#start-button').on('click', function () {
            socket.emit("start", {{ game.pk }});
        });

        $('#hint-button').on('click', function () {
           socket.emit("hint", {{ game.pk }}, round);
        });

        $('#show-history').on('click', function () {
            $.ajax({
                url: "/api/games/history/",
                data: {
                  game_id: {{ game.id }}
                },
                success: function (gameHistory) {
                    var history = $('#history');
                    for (var round_ in gameHistory){
                        history.append(
                                "<li>Round " + round_ + ": " + gameHistory[round_]) + "</li>";
                    }
                }
            });
        });

        function endRound(response) {
            $log.append($("<p>" + response.msg + "</p>"));
            first_result += response.first_result;
            second_result += response.second_result;
            $first_result.html(first_result);
            $second_result.html(second_result);

            if (round != 3){
                round++;
                $round.html(round);
                toggleGameControls(false);
                startTimer();
            }else{
                if (first_result > second_result){
                    alert($('#first_user').text() + " won!");
                }else if(second_result > first_result){
                    alert($('#second_user').text() + " won!");
                }else{
                    alert("TIE!");
                }

                gameOver = true;
                $gameControls.hide(500);
                $history_container.show(500);
            }
        }
        
        ['rock', 'paper', 'scissors', 'lizard', 'spock'].forEach(addTurnListener);
        
        function addTurnListener(id) {
            $('#'+id).on('click', function () {
                $timer.timer('remove');
                if (round <= 3){
                    socket.emit("turn", {{ game.id }}, round, id);
                    toggleGameControls(true);
                }else{
                    alert('Game is over');
                }
            });
        }

        function start() {
            alert('Play now');
            $gameControls.show(1000);
            $results.show(500);
            $('#start-button').hide();
            startTimer();
        }

        $("#form-echo").on("submit", function(event){
            event.preventDefault();
            var msg = $input.val();
            $input.val("");
            socket.emit("msg", msg);
        });

        function startTimer() {
           $timer.timer({
               duration: {{ game.duration }} + 's',
               countdown: true,
               callback: loseAutomatically
           });
        }

        function loseAutomatically() {
            socket.emit('auto_end', {{ game.id }}, round);
        }

        function toggleGameControls(disabled) {
            ['rock', 'paper', 'scissors', 'lizard', 'spock'].forEach(function (id) {
                $('#'+id).prop('disabled', disabled);
            })
        }
    </script>
{% endblock %}
